# **List**

In [1]:
list = [11,25,5,15,2,"Ajay","Bijay","Chandani"]   #Creating list
list

[11, 25, 5, 15, 2, 'Ajay', 'Bijay', 'Chandani']

In [2]:
list.append("Dinesh") #Adding element in list using append() function.
list

[11, 25, 5, 15, 2, 'Ajay', 'Bijay', 'Chandani', 'Dinesh']

In [3]:
list.remove("Ajay")  #Removing Element from list
list

[11, 25, 5, 15, 2, 'Bijay', 'Chandani', 'Dinesh']

In [4]:
list1 = [25,10,2,75,39,23,21,8,30]
list1.sort()  #Sorting the list
list1

[2, 8, 10, 21, 23, 25, 30, 39, 75]

In [5]:
list2 = [1,2,3,4,5,6,7,8,9,10]
list2.reverse()   #Reversing the list
list2

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
list2.clear() #Remove all the elements from the list.
list2

[]

# **Dictionary**

In [7]:
dict = {
    "A001" : "Ajay",
    "B001" : "Bijay",
    "C001"  : "Chandani",
    "D001"  : "Dinesh"
}
dict

{'A001': 'Ajay', 'B001': 'Bijay', 'C001': 'Chandani', 'D001': 'Dinesh'}

In [8]:
dict["E001"]="Fatima"   #Adding new element in existing dictionary
dict

{'A001': 'Ajay',
 'B001': 'Bijay',
 'C001': 'Chandani',
 'D001': 'Dinesh',
 'E001': 'Fatima'}

In [10]:
dict.update({"F001": "Farookh","G001":"Gautam"})  #Adding multiple elements in existing dictionary
dict

{'A001': 'Ajay',
 'B001': 'Bijay',
 'C001': 'Chandani',
 'D001': 'Dinesh',
 'E001': 'Fatima',
 'F001': 'Farookh',
 'G001': 'Gautam'}

In [11]:
del dict["G001"]  #Removing element from the existing dictionary by key.
dict

{'A001': 'Ajay',
 'B001': 'Bijay',
 'C001': 'Chandani',
 'D001': 'Dinesh',
 'E001': 'Fatima',
 'F001': 'Farookh'}

In [13]:
dict.popitem()  #Removing last element from the the exiting dictionary.
dict

{'A001': 'Abhinav',
 'B001': 'Bijay',
 'C001': 'Chandani',
 'D001': 'Dinesh',
 'E001': 'Fatima'}

In [12]:
dict["A001"]="Abhinav"  #Modifying element from the existing dictionary
dict

{'A001': 'Abhinav',
 'B001': 'Bijay',
 'C001': 'Chandani',
 'D001': 'Dinesh',
 'E001': 'Fatima',
 'F001': 'Farookh'}

# **SET**

In [14]:
set = {1,2,3,4,5,}    #Creating set.
set

{1, 2, 3, 4, 5}

In [15]:
set.add(6)  #Adding element in set.
set

{1, 2, 3, 4, 5, 6}

In [16]:
set.pop()   #Removing first element from set.
set

{2, 3, 4, 5, 6}

In [17]:
set.remove(3) #Removing 6 from set.
set

{2, 4, 5, 6}

In [18]:
set1 = {1,2,3,4,5}
set2 = {6,2,8,4,9}

union_set = set1.union(set2)  #Merging two set together. This will remove repeating number.
union_set

{1, 2, 3, 4, 5, 6, 8, 9}

In [19]:
intersection_set = set1.intersection(set2)  #Intersection
intersection_set

{2, 4}

In [20]:
difference_set = set1.difference(set2)  #Difference
difference_set

{1, 3, 5}

In [22]:
set3 = set1.copy() #Copy set1 in set3
set3

{1, 2, 3, 4, 5}